
// primary color 
$orange: hsl(25, 97%, 53%);

// Neutral colors
$white: hsl(0, 0%, 100%);
$lightGrey: hsl(217, 12%, 63%);
$mediumGrey: #7c8798;
$darkBlue: hsl(213, 19%, 18%);
$veryDarkBlue: hsl(216, 12%, 8%);

// typography
$bodyFont: 0.9375rem;